main{
    height: 767px;
    position: relative;
    .content{
        position: absolute;
        background-color: white;
        border-radius: 16px;
        width: 500px;
        left: 50%;
        top: 43%;
        transform: translate(-50%, -50%);
        padding: 24px 20px;
        h2{
            color: #5ec1b6;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 42px;
        }
        p{
            font-size: 18px;
            font-weight: 600; 
            flex: 1.7;
        }
        span{
            flex: 6;
            font-size: 18px;
            line-height: 1.6;
        }
        li{
            display: flex;
            margin-bottom: 20px;
            padding-bottom: 25px;
            border-bottom: 1px #cdcdcd dotted;
        }
    }
    
    .prize{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            font-size: 36px; 
            text-align: center;   
        }
    }
    
    button{
        display: block;
        color: white;
        width: 400px;
        font-size: 20px;
        border-radius: 8px;
        background-color: #e62a45;
        padding: 18px 0;
        margin: 36px auto 0;
    }
}

footer{
    margin-top: 0;
}